---
openapi: 3.0.1
info:
  title: API V1
  version: v1
  description: This is payloop api
paths:
  "/api/customers":
    get:
      summary: retrieves a list of customers
      operationId: getAllCustomers
      tags:
      - customers
      security:
      - oauth2:
        - full
      responses:
        '200':
          description: successfull
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CustomerListResponse"
        '401':
          description: unauthorized
    post:
      summary: creates new customer
      operationId: createNewCustomer
      tags:
      - customers
      security:
      - oauth2:
        - full
      parameters: []
      responses:
        '201':
          description: created
          headers:
            location:
              schema:
                type: string
              description: created customer url
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CustomerResponse"
        '422':
          description: unprocessable entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnprocessableEntity"
        '401':
          description: unauthorized
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CustomerCreateRequest"
  "/api/customers/{id}":
    get:
      summary: retrieves a customer
      tags:
      - customers
      operationId: getCustomerById
      security:
      - oauth2:
        - full
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: successfull
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CustomerResponse"
        '401':
          description: unauthorized
        '404':
          description: not found
    patch:
      summary: updates a customer
      operationId: updateCustomer
      tags:
      - customers
      security:
      - oauth2:
        - full
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: updated
          headers:
            location:
              schema:
                type: string
              description: upated customer url
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CustomerResponse"
        '401':
          description: unauthorized
        '404':
          description: not found
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CustomerBase"
    delete:
      summary: deletes a customer
      operationId: deleteCustomerById
      tags:
      - customers
      security:
      - oauth2:
        - full
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: no content
        '401':
          description: unauthorized
        '404':
          description: not found
  "/api/subscriptions/{subscription_id}/items":
    post:
      summary: creates new items for subscription
      operationId: createItemsForSubscription
      tags:
      - subscription_items
      security:
      - oauth2:
        - full
      parameters:
      - name: subscription_id
        in: path
        schema:
          type: string
          format: uuid
        description: subscription id
        required: true
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SubscriptionResponse"
        '401':
          description: unauthorized
        '422':
          description: unprocessable entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnprocessableEntity"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SubscriptionItemCreateRequest"
  "/api/subscriptions/{subscription_id}/items/{id}":
    patch:
      summary: updates quantity for a subscription item
      operationId: updateItemQuantityOnSubscription
      tags:
      - subscription_items
      security:
      - oauth2:
        - full
      parameters:
      - name: subscription_id
        in: path
        schema:
          type: string
          format: uuid
        description: subscription id
        required: true
      - name: id
        in: path
        description: subscription item id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SubscriptionResponse"
        '401':
          description: unauthorized
        '422':
          description: unprocessable entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnprocessableEntity"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SubscriptionItemUpdateRequest"
    delete:
      summary: deletes an item from a subscription
      operationId: deleteItemFromSubscription
      tags:
      - subscription_items
      security:
      - oauth2:
        - full
      parameters:
      - name: subscription_id
        in: path
        schema:
          type: string
          format: uuid
        description: subscription id
        required: true
      - name: id
        in: path
        description: subscription item id
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: no content
        '401':
          description: unauthorized
  "/api/subscriptions":
    post:
      summary: creates a new subscription
      operationId: createSubscription
      tags:
      - subscriptions
      security:
      - oauth2:
        - full
      parameters: []
      responses:
        '201':
          description: created
          headers:
            location:
              schema:
                type: string
              description: created subscription url
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SubscriptionResponse"
        '401':
          description: unauthorized
        '422':
          description: unprocessable entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnprocessableEntity"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SubscriptionCreateRequest"
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: This api used Oauth2 authorization flow.
      flows:
        authorizationCode:
          authorizationUrl: "/oauth/authorize"
          tokenUrl: "/oauth/token"
          scopes:
            full: full
  schemas:
    CustomerBase:
      type: object
      properties:
        email:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        address:
          type: string
          nullable: true
        address_2:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        zip:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        vat_country:
          type: string
          nullable: true
        vat_number:
          type: string
          nullable: true
    CustomerCreateRequest:
      allOf:
      - "$ref": "#/components/schemas/CustomerBase"
      - required:
        - email
        - first_name
        - last_name
        - vat_number
        - phone
    CustomerListResponse:
      type: object
      properties:
        customer:
          allOf:
          - properties:
              id:
                type: integer
              created_at:
                type: string
                format: date-time
              updated_at:
                type: string
                format: date-time
          - "$ref": "#/components/schemas/CustomerBase"
    CustomerResponse:
      type: object
      properties:
        customer:
          allOf:
          - properties:
              id:
                type: integer
              created_at:
                type: string
                format: date-time
              updated_at:
                type: string
                format: date-time
          - "$ref": "#/components/schemas/CustomerBase"
    PricePointResponse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        handle:
          type: string
        price_int_cents:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ProductResponse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        handle:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    SubscriptionCreateRequest:
      type: object
      properties:
        subscription:
          oneOf:
          - type: object
            required:
            - interval
            - interval_unit
            - activate_on_payment
            - customer_id
            - items
            properties:
              interval:
                type: integer
              interval_unit:
                type: string
                enum:
                - month
                - year
              activate_on_payment:
                type: boolean
              customer_id:
                type: integer
              subscription_items:
                type: array
                items:
                  "$ref": "#/components/schemas/SubscriptionItemBase"
          - type: object
            required:
            - interval
            - interval_unit
            - activate_on_payment
            - customer_attributes
            - items
            properties:
              interval:
                type: integer
              interval_unit:
                type: string
                enum:
                - month
                - year
              activate_on_payment:
                type: boolean
              customer_attributes:
                "$ref": "#/components/schemas/CustomerCreateRequest"
              subscription_items:
                type: array
                items:
                  "$ref": "#/components/schemas/SubscriptionItemBase"
    SubscriptionResponse:
      type: object
      properties:
        id:
          type: integer
        state:
          type: string
          enum:
          - created
          - active
          - past_due
        previous_state:
          type: string
          enum:
          - created
          - active
          - past_due
        current_period_started_at:
          type: string
          format: date_time
        current_period_ends_at:
          type: string
          format: date_time
        interval:
          type: integer
        interval_unit:
          type: string
          enum:
          - month
          - year
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        customer:
          allOf:
          - type: object
            properties:
              id:
                type: integer
              created_at:
                type: string
                format: date-time
              updated_at:
                type: string
                format: date-time
          - "$ref": "#/components/schemas/CustomerBase"
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              product:
                "$ref": "#/components/schemas/ProductResponse"
              price_point:
                "$ref": "#/components/schemas/PricePointResponse"
              quantity:
                type: integer
              created_at:
                type: string
                format: date-time
              updated_at:
                type: string
                format: date-time
    SubscriptionItemBase:
      oneOf:
      - type: object
        required:
        - product_id
        properties:
          product_id:
            type: integer
          quantity:
            type: integer
      - type: object
        required:
        - product_handle
        properties:
          product_handle:
            type: string
          quantity:
            type: integer
    SubscriptionItemCreateRequest:
      type: object
      properties:
        item:
          "$ref": "#/components/schemas/SubscriptionItemBase"
      required:
      - item
    SubscriptionItemUpdateAttributes:
      type: object
      properties:
        quantity:
          type: integer
      required:
      - quantity
    SubscriptionItemUpdateRequest:
      type: object
      properties:
        item:
          "$ref": "#/components/schemas/SubscriptionItemUpdateAttributes"
      required:
      - item
    UnprocessableEntity:
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
      required:
      - errors
servers:
- url: https://{site}.payloop.dev
  description: Add the subdomain of site you wish make request.
  variables:
    site:
      description: Subdomain of site.
      default: app
